<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My album reviews</title>
</head>
<body>
    <h1>Welcome to my album reviews' page</h1>
    <p>I'm still working on this page, but I'll be adding more content soon!</p>
</body>
</html>